<div class="container-fluid" style="padding: 2%;">
    <h1 class="mat-h1">Create Student</h1>
    <mat-card class="login-card">
        <form #f="ngForm"  [formGroup]="createStudent" style="margin-top: 3rem;">
            <mat-horizontal-stepper linear #stepper>
                <mat-step  [editable]="isEditable">
                    <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Name</mat-label>
                <input matInput name="name" formControlName="name" required />
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email" required />
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Mobile</mat-label>
                <input matInput name="mobile" formControlName="mobile" required />
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Course</mat-label>
                <mat-select name="course" formControlName="course" (selectionChange)="branchform()">
                    <mat-option *ngFor="let course of courses" [value]="course">
                      {{ course }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Branch</mat-label>
                <mat-select name="branch" formControlName="branch" >
                    <mat-option *ngFor="let branch of branches" [value]="branch">
                      {{ branch }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Year</mat-label>
                <mat-select name="course" formControlName="course">
                    <mat-option *ngFor="let year of years" [value]="year.value">
                      {{ year.viewValue }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]=33 [style.padding.%]=1>
                <mat-label>Semester</mat-label>
                <mat-select name="semester" formControlName="semester">
                    <mat-option *ngFor="let year of semesters" [value]="year.value">
                      {{ year.viewValue }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </mat-step>
            <mat-step [editable]="isEditable">
                <ng-template matStepLabel>Fill out your name</ng-template>
           
            <div>
                <button mat-raised-button matStepperNext color="primary">Next</button>
              </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <button mat-raised-button type="submit" color="primary" (click)="submit(f)">Submit</button>
        </mat-step>
    
    </mat-horizontal-stepper>
        </form>
    </mat-card>
</div>

